
    :root{

  /* =========================================
     🎨 CORES PRINCIPAIS
  ========================================= */
  
  --primary-color: #ff2f86;
  --primary-light: #ff74bc;
  --primary-dark: #e61f73;

  /* =========================================
     🌈 GRADIENTES
  ========================================= */

  --gradient-primary: linear-gradient(
    135deg,
    #ff2f86,
    #ff74bc
  );

  --gradient-dark: linear-gradient(
    180deg,
    #0f172a,
    #111827,
    #0b1120
  );

  --gradient-light: linear-gradient(
  180deg,
  #ffffff 0%,
  #f5f7fb 45%,
  #edf2f7 100%
);

  /* =========================================
     ⚫ CORES ESCURAS
  ========================================= */
   --white: #ffffff;
  --black: #000000;
  --dark-bg: #111111;
  --dark-secondary: #1a1a1a;
  --dark-card: #202020;


  /*footer*/
  --footer-bg: #070b16;
  /* =========================================
     📝 TEXTOS
  ========================================= */
  --text-dark: rgb(0, 0, 0);
  --text-light: rgb(255, 255, 255);
   --text-medium: rgba(0, 0, 0, 0.6);
   --text-muted: rgba(150, 150, 150, 0.63);
  /* =========================================
     🌫 OVERLAY / TRANSPARÊNCIA
  ========================================= */

  
  --overlay:linear-gradient(
      rgba(5,5,20,.55),
      rgba(5,5,20,.65)
    );
    --overlayt:linear-gradient(
      rgba(5,5,20,.55),
      rgba(5,5,20,.65)
    );

  /* =========================================
     ✨ SOMBRAS
  ========================================= */

  --shadow-primary:
    0 10px 30px rgba(255,63,146,.35);

  --shadow-card:
    0 10px 30px rgba(0,0,0,.08);

  /* =========================================
     🔘 BOTÕES
  ========================================= */

  --button-radius: 60px;
  --button-padding: 18px 40px;

  /* =========================================
     📦 CARDS
  ========================================= */

  --card-radius: 25px;
  --card-padding: 25px;

  /* =========================================
     📏 ESPAÇAMENTOS
  ========================================= */

  --section-padding: 70px 8%;
  --gap-grid: 35px;

  /* =========================================
     🔤 FONTES
  ========================================= */

  --font-main: 'Poppins', sans-serif;

  /* =========================================
     ⏱ TRANSIÇÕES
  ========================================= */

  --transition-fast: .3s ease;
  --transition-medium: .4s ease;
  --transition-slow: .6s ease;

}
